/* Masquer le titre de base */
.main-header .logo {
  visibility: hidden;
}

/* Changer le fond de l'en-tête */
.main-header {
  background-color: #001f3f;  /* bleu foncé */
}

/* Ajouter un nouveau titre personnalisé */
.main-header::before {
  content: 'DƎGO';
  position: absolute;
  left: 45px;
  top: 1px;
  bottom: 1px;
  font-family: 'Courier New', monospace;
  font-size: 55px;
  font-weight: bold;
  color: white;
  display: flex;              
  align-items: center;
}

/* Styles pour les panneaux FAQ */
.panel-heading {
  background-color: #001f3f;
  color: white;
  cursor: pointer;
}

.panel-title {
  margin: 0;
}